@font-face {
    font-family: "Cinzel_M";
    src: url(../font/Cinzel-Medium.ttf);
}

@font-face {
    font-family: "Poppins_R";
    src: url(../font/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins_SB";
    src: url(../font/Poppins-Bold.ttf);
}
/* ====================================================================
                                RESET
=====================================================================*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* ====================================================================
                                HEADER
=====================================================================*/





nav {
    font-family: "Cinzel_M";
    width: 100%;
    display: flex;
    padding: 18px 50px;
    background-color: rgba(0, 0, 0, 0.774);
    position: sticky;
    top: 0px;
    color: white;
}


nav ul {
    display: flex;
    flex: 1;
    list-style-type: none;
    justify-content: flex-end;
    gap: 120px;
}

header {
    background: url(../img/bike.jpeg) center / cover no-repeat;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header div {
    width: 30%;
    text-align: center;
}

header h1 {
    margin: 40px;
}

header p {
    padding-bottom: 30px;
}


.upper__text {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.upper__text h2 {
    margin: 60px;
    font-family: "Cinzel_M";
    font-size: 24px;
}

.upper__text p {
    font-family: "Poppins_R";
    padding:0 20px;
}

.boxes {
    text-align: center;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 50px;
    gap: 80px;
}

.boxes img {
    display: inline-block;
    width: 360px;
    padding: 10px 20px;
}

.box-container > div {
    text-align: center;
    padding-top: 150px;
}
.tour__dates {
    text-align: center;
    padding: 0 150px;    
}

.tour__dates h2 {  
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

.tour__dates ul {
    text-align: start;
    padding:0 80px;
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333333;
}

.tour__dates ul li {
    line-height: normal;
    font-size: 16px;
    padding-bottom: 25px;
}

.tour__dates li span {
    color: #F00;
}

.tour__dates li p {
    color: #008000;
    display: inline;
}

footer {
    text-align: center;
    font-family: "Cinzel_M";
    font-size: 24px;
    padding: 50px;
    border-top: 1px solid #ccc;
}

footer article {
    font-size: 18px;
}

footer article p{
    display: inline-block;
    font-family: "Poppins_SB";
    font-weight: 400;
    padding: 10px 0;
}

footer article p:nth-of-type(1) {
    color: #3B5998;
}

footer article p:nth-of-type(2) {
    color: #1DA1F2;
}

footer article p:nth-of-type(3) {
    color: #C32AA3;
}